@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,100&family=Poppins:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;

}

:root{
    --bg-color : #f5f5f5;
    --second-bg-color : #D3D3D3;
    --text-color : #000000;
    --main-color : #5CD1C1;
   
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

section{  
    min-height: 80vh;
    padding: 10rem 9% 2rem;
}
/* p{
    width: 54.688rem;
    height: 3.75rem;
} */


            /* header navbar design */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
.header.sticky{
    border-bottom: .1rem solid rgba(0, 0, 0, 0.2);
}

.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;

}
.logo:hover{
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: default;


}

.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 400;
    margin-left: 3.5rem;
    transition: 0.3s; 
    position: relative; 

}
.navbar a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background-color: var(--main-color);
    transition: all ease 1s;
}
.navbar a:hover::after{
    width: 100%;

}


.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}

.navbar .black{
    border: 2px solid black;
    background: #000;
    padding: .3rem 1.3rem;
    color: var(--bg-color);
    border-radius: 3px;

}
.navbar .black::after{
    /* background-color: var(--second-bg-color); */
    width: 0;
    height: 0;
}

/* menu icon */

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;

}


/* section home design */

.home{
    display: flex;
    justify-content: center;
    align-items: center;

}
/* #home{
    background: url();
    background-position: center;
    background-size: cover;

} */

.home-img img{
    width: 21vw;
    border-top-right-radius: 90% 50%;
    border-top-left-radius: 28% 20%;
   border-bottom-left-radius: 70% 50%;
   border-bottom-right-radius: 40% 70%;
    background-color: var(--main-color);
    animation: floatIn 2.2s  ease-in-out infinite;
    margin-top: 3rem;
}

@keyframes floatIn {
    0%{
        transform: translateY(0);
       
    }
     50% { 
        transform: translateY(-2.4rem);
        
        
     }
    
    100% { 
        transform: translateY(0);
        
     }
  }


.home-content .design{
    font-size: 5.7rem;
    font-weight: 900;
}


.home-content h3{
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1rem;

}
.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}
span{
    color: var(--main-color);

}
.home-content h1{
    font-size: 5rem;
    line-height: 1.3;
    margin-bottom: 1rem;
}

.home-content h2{
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color);
}

.home-content p{
    font-size: 1.7rem;
     
    }

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    font-size: 2.9rem;
    color: var(--text-color);
    margin: 3rem 1.5rem 2rem 0;
    transition: .5s ease;
   
}
.social-media a  i{
    font-weight: 800;
}

.social-media a:hover{
    transform: scale(0.89);

}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 1rem;
    /* box-shadow: 0 0 1rem var(--main-color); */
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    margin-top: 3.5rem;
}
.btn:hover{
    box-shadow: none;
}

/* About section */

/* #about{
    background: url();
    background-position: center;
    background-size: contain;
    
    
} */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    
}

.about-img{
    min-height: 40vh;
    max-width: 100vw;
    
}

.about-img img{
    width: 21vw;
    margin-bottom: 5%;
}


.heading{
    text-align: center;
    font-size: 4.7rem;

}
.about-content h2{
    text-align: center;
    line-height: 1.2;
    margin-bottom: 1.3rem;
}

.about-content p{
    font-size: 1.5rem;
    /* min-width: 40vw; */
    margin-bottom: 9rem;
    width: 54.688rem;
    height: 3.75rem; 

}


/* services section */

.services h2{
    margin-bottom: 1.6rem ;
    

}
.services p {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 3rem;
   
}
.services .pcheck{
    width: 54.688rem;
    height: 3.75rem; 
    margin: auto;
    margin-bottom: 7rem;
}
.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

}
.services-container .services-box{
    flex: 1 1 30rem;
    padding: 4.5rem 4.5rem 4rem;
    text-align: center;
    transition: 0.5s ease;
}
.services-container .services-box:hover{
    transform: scale(0.99);
    box-shadow: 0 0 .1rem var(--text-color);

}

.services-box i{
    font-size: 8rem;
    color: var(--main-color);
    
}
.services-box h3{
    font-size: 2.6rem;
    font-weight: 700;
}


/* Projects design*/

.Projects h2{
    margin-bottom: 3rem;
    color: var(--main-color);
}

.Projects-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;

}
.Projects-container .Projects-box{
    position: relative;
    border-radius: 1%;
    overflow: hidden;
    display: flex;

}

.Projects-box img{
    width: 100%;
    transition: 0.5s ease;  
}

.Projects-box:hover img{  
    transform: scale(1.1);
}


.Projects-box .Project-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width:100% ;
    height: 100%;
    display: flex;
    background: linear-gradient(rgba(0 ,0, 0, 0.1),var(--main-color));
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: 0.5s ease;

}

.Projects-box:hover .Project-layer{
    transform: translateY(0);

}

.Project-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
    box-shadow: none;
}
.Project-layer a i {
    font-size: 1.7rem;
    color: var(--bg-color);

}

/* contact section */

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}


.contact-content h2{
    margin-bottom: 3.5rem;

}

.contact-content p{
    font-size: 1.78rem;
    margin: .3rem 0 1rem;
    line-height: 2.3;
   
}



.contact-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    background: transparent;
    border-radius: 50%;
    font-size: 3.5rem;
    color: var(--text-color);
    margin: .2rem;
    transition: .5s ease;
    
}

.contact-media a:hover{
    color: var(--text-color);
    transform: scale(0.8);
}
.contact-media a  i{
    font-weight: 800;
}

 /* footer design */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 1.9rem 8%;
}
.footer-text{
    font-size: 1.4rem;
    font-weight: 600;
}

    /* Media Queries */


@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
}
@media (max-width: 991px){
    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }

    .home-content .design{
        font-size: 5.5rem;
    }
    .home-img img{
        width: 30vw;
    }

    .services{
        padding-bottom: 7rem;
    }
    .Projects{
        padding-bottom: 7rem;
    }
    .contact{
        min-height: auto;
    }
    .footer{
        padding: 2rem 3%;
    }
}


@media (max-width: 768px){  
    #menu-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        display: none;
    }

    .navbar.active{ 
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;

    }
    .navbar .black{
        background-color: transparent;
        border: none;
        padding: 0;
        color: var(--text-color);
    }
    .navbar a:hover::after{
        width: 0;
    }
   
    .home{
        flex-direction: column;
    }
    .home-content h3{
        font-size: 2.5rem;
        
    }
    .home-content h1{
        font-size: 4.9rem;
    }

   
    .home-img img{
        width: 70vw;
        margin-top: 4rem;

    }
    .about{
        flex-direction: column-reverse;

    }
    .about img{
        width: 70vw;
        margin-top: 4rem;
    }
    .services h2{
        margin-bottom: 3rem;
    }

    .Projects h2{
        margin-bottom: 3rem;
    }
    .Projects-container{
        grid-template-columns: repeat(2, 1fr);
    }

}


@media (max-width: 617px){
    .Projects-container{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px){
    html{
        font-size: 50%;
    }
    .home-content .design{
        font-size: 4.3rem;
    }
    .contact-content p {
        font-size: 1.6rem;
    }
    .contact-content a{
        width: 3rem;
        height: 3rem;
        margin-left: 2rem;
    }
    .contact-content a i{
        font-size: 2.5rem;
    }
    .footer-text p{
        font-size: 1.35rem;
    }
}

@media (max-width: 365px){
    .home-img img{
        width: 90vw;
    }

    .about-img img{
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p{
        text-align: center;
        margin-top: 2rem ;
        
    }


}









